/* --- Referral Banner Styling --- */
.referral-banner-dynamic {
  position: relative;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.content-overlay {
  position: relative;
  z-index: 3;
  color: var(--color-white);
  width: 50%;
  min-height: 250px;
  background-color: var(--color-dark-background);
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: -100px;
  width: 100px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right,
      rgba(33, 33, 33, 1) 0%,
      rgba(33, 33, 33, 0) 100%);
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0;
}

.subtitle {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.invite-button {
  width: fit-content;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-white);
  border: 3px solid var(--color-dark-1);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.invite-button i {
  padding-left: 5px;
}

.invite-button:hover {
  background-color: var(--color-dark-1);
}



@media (max-width: 768px) {

  .referral-banner-dynamic {
    min-height: 550px;
  }

  .content-overlay {
    width: 100%;
    min-height: unset;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: unset;
    transform: none;
  }

  .content-overlay::after {
    content: none;
  }

  .content-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom,
        rgba(33, 33, 33, 1) 0%,
        rgba(33, 33, 33, 1) 70%,
        rgba(33, 33, 33, 0) 100%);
  }
}