.brand-carousel-section {
  margin: 20px 0px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  background-color: var(--color-light-backgroung);
}

.header-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
  text-transform: uppercase;
}

.see-all-btn {
  background-color: var(--color-light-3);
  color: var(--color-dark-background);
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  transition: background-color 0.2s;
  text-decoration: none;
}

.see-all-btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark-background-2);
}

.carousel-container {
  position: relative;
  padding: 30px 40px;
  overflow: hidden;
}

.carousel-list {
  display: flex;
  gap: 60px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 10px 0;
  justify-content: center;
}

.carousel-list::-webkit-scrollbar {
  display: none;
}

.brand-card {
  flex: 0 0 auto;
  width: 130px;
  text-align: center;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
}

.brand-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-dark-1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

.brand-card p {
  font-size: 0.85rem;
  color: #333;
}

.brand-card:hover {
  transform: scale(1.05);
}

.carousel-container .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-light-backgroung);
  border: 1px solid #7B7B7B;
  color: var(--color-dark-background);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  z-index: 10;
}

.carousel-container .nav-btn:hover {
  color: var(--color-light-backgroung);
  background-color: var(--color-dark-background);
}

.carousel-container .prev-btn {
  left: 5px;
}

.carousel-container .next-btn {
  right: 5px;
}

.carousel-container .nav-btn.hidden {
  display: none;
}

.carousel-container .nav-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 30px 18px;
  }

  .carousel-list {
    gap: 40px;
  }

  .carousel-container .nav-btn {
    display: none;
  }
}
